@model IEnumerable<NimbApp.Models.Admin.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/Adminstyle.css" rel="stylesheet" type="text/css" />


    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="userscontrol">
            <div class="searchpart">
                <input class="searchfield" placeholder="Name" />
                <button class="searchbtn"><p>Search</p></button>
            </div>
            <div class="userslist">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Login</th>
                                <th>Password</th>
                                <th>Number</th>
                                <th>Adress</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            @{
                               foreach(var user in Model){
                                   <tr id=@user.Id>
                                        <td>@Html.DisplayFor(us => user.Name)</td>
                                        <td>@Html.DisplayFor(us => user.Surname)</td>
                                        <td>@Html.DisplayFor(us => user.Login)</td>
                                        <td>@Html.DisplayFor(us => user.Password)</td>
                                        <td>@Html.DisplayFor(us => user.Number)</td>
                                        <td>@Html.DisplayFor(us => user.Address)</td>
                                        <td>@Html.DisplayFor(us => user.Position)</td>
                                   </tr>
                               }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <form class="controlbtns">
                    <button asp-controller="Admin" asp-action="UserAdd" class="ctrl add"><p>Add</p></button>
                    <div class="ctrl Edit"><p>Edit</p></div>
                    <div class="ctrl Delete"><p>Delete</p></div>
            </form>
        </div>
    </div>
</body>
<script defer src="/js/adminscript.js"></script>
</html>
