@using NimbRepository.DbContexts;
@using NimbRepository.Model.Storekeeper;

@model IEnumerable<NimbRepository.Model.Storekeeper.Supplier>

@{
    IEnumerable<string>? categorList = ViewData["Categories"] as IEnumerable<string>;
    IEnumerable<Good>? goodsList = ViewData["Goods"] as IEnumerable<Good>;
}

    <link rel="stylesheet" href="/css/Seller/goods.css">

    
    
    <div class="container">
        <h1>Goods Panel</h1>
        <hr>
        <div>
            <div class="row">
                <div class="col">
                    <div class="search">
                        <input type="text" class="form-control" id="searchfield" placeholder="Search">
                        <button id="searchbtn" class="btn btn-primary">Search</button>
                    </div>
                    <label for="lblBrendSelectId" class="lblBrend">Spisok postavshikov:</label>
                    <br>
                    <select class="lblBrendClass" id="lblBrendSelectId">
                        @foreach (var item in Model)
                        {
                            <option value=@item.Name>@Html.DisplayFor(items => item.Name)</option>
                        }
                        <option value="All">All</option>
                    </select>
                    <br>
                    <label for="lblCategorySelectId" class="lblCategory">Spisok category:</label>
                    <br>
                    <select class="lblCategoryClass" id="lblCategorySelectId">
                        @if (categorList != null)
                        {
                            foreach (var item in categorList)
                            {
                                <option value=@(item)>@Html.DisplayFor(items => item)</option>
                            }
                        }
                        <option value="All">All</option>
                    </select>
                    <br>
                    <br>
                    <br>
                    <div class="userslist">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name of goods</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Total in stock</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    @if (goodsList != null)
                                    {
                                        foreach (var item in goodsList)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>@item.Category</td>
                                                <td>@item.Count</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <script defer src="/js/Goods.js"></script>
}