@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
@model IEnumerable<NimbRepository.Model.Seller.Client>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Seller/indexStyle.css">
    <title>SellerPanel</title>
</head>
<body>
    <div class="container">
        <h1>Seller Panel</h1>
        <hr>
        <div class="row">
            <div class="col">
                <form class="searchPanel" action="">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="mb-3">
                        <label for="number" class="form-label">Number</label>
                        <input type="number" class="form-control" placeholder="Phone Number">
                    </div>
                    <p class="or">or</p>
                    <div class="mb-3">
                        <label for="company" class="form-label">Company</label>
                        <input type="text" class="form-control" id="company" placeholder="Company">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary" id="searchButton"><p>Search</p></button>
                    </div>
                    <hr>
                    <div class="tovari">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary" asp-controller="Seller" asp-action="Goods">Tovari</button>
                            </div>
                            <div class="col"><button class="btn btn-primary" asp-controller="Seller" asp-action="RegisterUser">Registraciya klienta</button></div>
                            <div class="col"><button class="btn btn-primary" asp-controller="Seller" asp-action="RegisterCompany">Registraciya companii</button></div>
                            <div class="col"><button type="submit" class="btn btn-primary" asp-controller="Seller" asp-action="GoodsSoldFirst">Oformit zakaz bez registracii</button></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <div class="userscontrol">
                    <div class="userslist">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Patronymic Name</th>
                                        <th scope="col">Phone Number</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    @foreach (var cleint in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(cleints => cleint.Id)</td>
                                                <td>@Html.DisplayFor(cleints => cleint.FirstName)</td>
                                                <td>@Html.DisplayFor(cleints => cleint.LastName)</td>
                                                <td>@Html.DisplayFor(cleints => cleint.PatronymicName)</td>
                                                <td>@Html.DisplayFor(cleints => cleint.Number)</td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <form class="controlbtns">
                        <button type="submit" class="btn btn-primary" asp-controller="Seller" asp-action="GetUsers"><p>Info</p></button>
                        <button type="submit" class="btn btn-primary float-end"><p>Oformit zakaz</p></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>